
#mainContent{
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	box-shadow: -1px 12px 10px 5px lightgray;
}

#header{
	
	width: 100%;
	background-color: white;
	padding-bottom: 20px;
	padding-top: 10px;
	margin: 0px;
}

#headerPic{
	float:left;	
	margin-left: 50px;
	margin-right: 150px;
}

#HeaderFont{
	font-family: 'HeaderFont', sans-serif;
	font-size: 500%;
	margin-top: 30px;
}

body, html{

	font-family: helvetica, sans-serif;
	width: 100%;
	height: 100%;
}

@font-face {
  font-family: "HeaderFont";
  src: url("fonts/font.TTF") format("truetype");

  font-style: normal;
  font-weight: normal;
}


#contentContainer{
	width: 80%;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;

}

#contents {
	width: 80%;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;

}
#contents p{
	text-align: center;
	font-size: 150%;
	font-family: helvetica, sans-serif;
}
#ptop{
	margin-top: 70px;
}
#offer{
	margin-bottom: 70px;
}
#offerlink{
	text-align: center;
	font-size: 350%;
	font-family: helvetica, sans-serif;

}
#offerButton{
	float: center;
	width: 300px;
}

#contentContainer .product{
	width: 20%;
	max-height: 300px;
	
	margin: 20px;
	float: left;
	
	padding:0;
	text-align: center;
}

#contentContainer .product img{
	max-width:100%; 
	height: 150px;
	padding:0;
	margin: 0;
	
}

.product .description{
	white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;
	
	
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

h3{
	margin: 0;
	padding:0;
	text-align: center;
}

#contact{
	margin: 100px;
}

#formcontainer{
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: right; 
}

input, textarea{
	
	margin: 20px;
	vertical-align: middle;
}

a{
	text-decoration: none;
}

#FAQ:hover{
	background-color: black;
	color: white;
}

.centeredBox{
	width: 50%;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.textAlignRight{
	text-align: right;
}

.textAlignCenter{
	text-align: center;
}

footer{
	text-align: center;
	background-color: black;
	color: white;
	width: 100%;
	height: 100px;
	position: relative;
	padding-top: 100px;
}

#sddm
{	margin: 0;
	padding: 0;
	width: 100%;
	}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
	width: 14.28%;
	background-color: black;
}


#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	background: black;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;

}

#sddm li a:hover
{	background: #FFB547;
	color: black;
}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: white;
	width: 250px;
	border: 2px solid black;
}


#sddm div a
{	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: white;
	color: black;
	font: 11px arial;
}

#sddm div a:hover
{	background: #FFB547;
	color: black}

#m1{
	background-color: white;
	z-index: 30;
}
#product{
	width:500px;
    height: 800px;
    margin-right:auto;
    margin-left: auto;
    float: left;
}
#goback button{
	margin-top: 50%;
	background-color: white;
	border:none;
	
}
#goback{
	width:324px;
	height: 800px;
    margin-right:auto;
    margin-left: auto;
    float: left;


}
#goforward button{
	margin-top: 50%;
	float:right;
	background-color: white;
	border:none;

}
#goforward{
	width:324px;
    height:500px;
    margin-left: auto;
}

#productheader{
	font-size: 250%;
	font-family: helvetica, sans-serif;
	margin-bottom: 20px;
	margin-top: 20px;

}
#inStock{
	font-family: helvetica, sans-serif;
	float: right;
}
#price{
	font-family: helvetica, sans-serif;
	float: right;
}
#productInfo{
	font-family: helvetica, sans-serif;
	margin-top: 0;

}
#hotpoints{
	font-family: helvetica, sans-serif;
	margin-left: 100px;
}

#prodpic{
	font-family: helvetica, sans-serif;
	float:left;
	margin-right: 5px;
}
#prodpic img{
	height: 150px;
	max-width: 200px;
	margin-right:  50px;

}
#video{
	margin-top: 10px;
	margin-bottom: 10px;
}

