
#mainContent{
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	box-shadow: -1px 12px 10px 5px lightgray;
}

#headerPic{
	float:left;	
	margin-left: 50px;
	margin-right: 150px;
}


#header{
	position: top;
	width: 100%;
	height: 150px;
	background-color: white;
	padding-top: 50px;	
	
}

#navigationBar{
	width: 100%;
	float:left;
	margin: 0;
	padding:0;
	list-style: none;
	background-color: black;
	
}

#navigationBar li{
	float:left;
}

#navigationBar li a{
	display: block;
	padding: 8px 15px ;
	text-decoration: none;
	font-weight: bold;
	color:white;
}

li{
	width: 20%;
	text-align: center;
}

a:hover{
	background-color: #FFB84D;
}

body{

	font-family: helvetica, sans-serif;
}

@font-face {
  font-family: "HeaderFont";
  src: url("fonts/font.TTF") format("truetype");

  font-style: normal;
  font-weight: normal;
}

#HeaderFont{
	font-family: 'HeaderFont', sans-serif;
	font-size: 500%;
	margin-top: 0;
}

#nav{
	margin-bottom: 0px;
}

#ddmenu{
	display: none;
}

.dropmenu{

}

#productContainer{
	width: 100%;
	height: 975px;
	background-color: white;
	margin-right: auto;
}

.product{
	width: 20%;
	height: 250px;
	float:left;
	border:solid 1px;
	margin: 30px;
	position: relative;
}

.description{
	white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;
	border-top:solid 1px;
	margin-top: 79%;

}
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

h3{
	margin: 0;
	padding:0;
	text-align: center;
}

#contact{
	margin: 100px;
}

#formcontainer{
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: right;	
	

}

input, textarea{
	
	margin: 20px;
	vertical-align: middle;
}



a{
	text-decoration: none;
}

#FAQ:hover{
	background-color: black;
	color: white;
}